.name {
  text-align: center;
  margin-bottom: 1px;
  border: 1px solid black;
}

.contact-info {
  text-align: center;
  border: 1px solid black;
  margin-top: 0px;
}

.about-me {
  border: 30px solid #3bd4d4;
  width: 50%;
  margin: auto;
  background-color: #3bd4d4;
  border-radius: 10%;
  display: flex;
}

.picture {
  height: 250px;
  border-radius: 50%;
  margin-right: 30px;
}

p {
  flex-direction: right;
}

.links {
  display: flex;
  justify-content: center;
}

.linkedin-link {
  padding: 10px;
}

.github-link {
  padding: 10px;
}


